#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  scroll-behavior: smooth;
}



.side-by-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vh;
  margin:3vw;

}

.intro {
    max-width: '40vw';
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  #main {
    text-align: center;
  }
  .intro{
    max-width: '80vw';
  }
  .side-by-side {
      flex-direction: column;
      padding: 0;
      width: 100%;
  }

  .side-by-side img {
      width: 50vw; /* Ensure images take full width on mobile */
      height: auto;
      margin: 0; /* Remove margins on mobile */
  }

  .side-by-side div {
      width: 100%; /* Ensure text containers take full width on mobile */
      margin: 0; /* Remove margins on mobile */
  }
  .flag h2 {
    text-align: center;
  }
  h1{
    font-size:large;
  }
  h2 {
    font-size: 3vw;
  }
}

@media (min-width: 768px) {
  .flag {
    padding-right: 10vw;
  }
  .flag img {
    width:10vw;
  }
  img {
    width: 30vw;
  }
  .right{
    padding-left:5vw;
  }
  .left{
    padding-right:5vw;
  }
  a {
    text-decoration: none;
    font-style: italic;
    color: inherit;
  }
  
  a:hover {
    text-decoration: underline;
  }

}
a{
  color: inherit;
  font-style: italic;
}
h3{
  font-size:1vw;
  text-align:center;
}
.text{
  padding:5vw;
  text-align:center;
}