.link-container {
    position: relative;
    display: inline-block;
    padding-right:1vmin;
  }
  
  .hover-content {
    display: none;
    position: absolute;
    top: 70%; /* Position below the link */
    left: 0;
    background-color: black;
    padding: 10px; /* Customize as needed */
  }
  
  .hover-content.show {
    display: block;
  }
  