.section {
  opacity: 0;
  /*transform: translateY(50px); /* Apply initial transform */
  transition: opacity 0.5s ease-out; /* Apply transition only to opacity */
  padding-top: 10vh;
}

.section.visible {
  opacity: 1;
  /*transform: translateY(0); /* Move content to original position */
}
